.calculator {
  width: 345px;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #3E005D;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 78px 78px 78px 78px 78px;
}