@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  background: #4CA1AF;
  background: -webkit-linear-gradient(to right, #C4E, #4CA);
  background: linear-gradient(to left, #C4E, #4CA);
}